
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>

    <!-- Title -->
    <title>X Watch | Login - Sign in alt</title>

    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta charset="UTF-8">

    <!-- Styles -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600' rel='stylesheet' type='text/css'>
    <link href="~/assets/plugins/pace-master/themes/blue/pace-theme-flash.css" rel="stylesheet" />
    <link href="~/assets/plugins/uniform/css/uniform.default.min.css" rel="stylesheet" />
    <link href="~/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/plugins/fontawesome/css/font-awesome.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/plugins/line-icons/simple-line-icons.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/plugins/offcanvasmenueffects/css/menu_cornerbox.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/plugins/waves/waves.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/plugins/switchery/switchery.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/plugins/3d-bold-navigation/css/style.css" rel="stylesheet" type="text/css" />

    <!-- Theme Styles -->
    <link href="~/assets/css/modern.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/themes/green.css" class="theme-color" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/custom.css" rel="stylesheet" type="text/css" />

    <script src="~/assets/plugins/3d-bold-navigation/js/modernizr.js"></script>
    <script src="~/assets/plugins/offcanvasmenueffects/js/snap.svg-min.js"></script>


</head>
<body class="page-login login-alt">
    <main class="page-content">
        <div class="page-inner">
            <div id="main-wrapper">
                <div class="row">
                    <div class="col-md-6 center">
                        <div class="login-box panel panel-white">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-6">
                                        <img src="~/assets/images/savera.png" />
                                        <a href="index.html" class="logo-name text-lg">SAVERA</a>
                                        <p class="login-info">SAVERA is an innovative 'Smart Wear' technology developed by PT Indexim Coalindo. This device is designed to monitor workers' health digitally and enables them to perform self-monitoring. Consequently, X-Watch helps prevent workplace accidents caused by employees being in unfit health conditions..</p>
                                        <div class="btn-group btn-group-justified m-t-sm" role="group" aria-label="Justified button group">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <form action="index.html" id="formBS">
                                            <div class="form-group">
                                                <input type="text" class="form-control" name="nik" id="nik" placeholder="username" required>
                                            </div>
                                            <div class="form-group">
                                                <input type="password" class="form-control" name="password" id="password" placeholder="password" required>
                                            </div>

                                            <div class="form-group">
                                                <select class="form-control form-control-md" id="kategori_user_id" name="kategori_user_id" onchange="pilihKategoriUser()" disabled>
                                                    <option value="">- Pilih kategori user -</option>
                                                </select>
                                            </div>
                                            <button id="login" type="button submit" onclick="btnLogin()" class="btn btn-success btn-block">
                                                Login
                                            </button>
                                            <a class="display-block text-center m-t-md text-sm">Forgot Password?</a>
                                            <p class="text-center m-t-xs text-sm">Do not have an account?</p>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- Row -->
            </div><!-- Main Wrapper -->
        </div><!-- Page Inner -->
    </main><!-- Page Content -->
    <!-- Javascripts -->
    <script src="~/assets/plugins/jquery/jquery-2.1.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <script src="~/assets/plugins/jquery-ui/jquery-ui.min.js"></script>
    <script src="~/assets/plugins/pace-master/pace.min.js"></script>
    <script src="~/assets/plugins/jquery-blockui/jquery.blockui.js"></script>
    <script src="~/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/assets/plugins/jquery-slimscroll/jquery.slimscroll.min.js"></script>
    <script src="~/assets/plugins/switchery/switchery.min.js"></script>
    <script src="~/assets/plugins/uniform/jquery.uniform.min.js"></script>
    <script src="~/assets/plugins/offcanvasmenueffects/js/classie.js"></script>
    <script src="~/assets/plugins/waves/waves.min.js"></script>
    <script src="~/assets/js/modern.min.js"></script>
    <script>
        $(document).ready(function () {
            getCredentials()
        })

        $('.form-control-user').keypress(function (e) {
            if (e.which == 13) {
                btnLogin()
                return false;
            }
        });

        function getCredentials() {
            //GetIP
            window.RTCPeerConnection = window.RTCPeerConnection || window.mozRTCPeerConnection || window.webkitRTCPeerConnection;//compatibility for Firefox and chrome
            var pc = new RTCPeerConnection({ iceServers: [] }), noop = function () { };
            pc.createDataChannel('');//bogus data channel
            pc.createOffer(pc.setLocalDescription.bind(pc), noop);// create offer and set local description
            pc.onicecandidate = function (ice) {
                if (ice && ice.candidate && ice.candidate.candidate) {
                    var myIP = /([0-9]{1,3}(\.[0-9]{1,3}){3}|[a-f0-9]{1,4}(:[a-f0-9]{1,4}){7})/.exec(ice.candidate.candidate)[1]
                    $('#ip').val(myIP)
                    pc.onicecandidate = noop
                }
            }
        }

        function btnLogin() {
            $('#login').text('Loading...')
            $('#login').prop('disabled', true)
            var urlTo = '@Url.Action("Index", "Home")'
            var options = $("#kategori_user_id");
            $.ajax({
                type: 'POST',
                url: '@Url.Action("ProsesLogin", "Login")',
                data: $('#formBS').serialize(),
                success: function (data) {
                    if (data.status == true) {
                        $('#login').text('Pilih kategori user')
                        $('#kategori_user_id').prop('disabled', false)
                        for (a = 0; a < data.data.length; a++) {
                            options.append($("<option />").val(data.data[a].kategori_user_id).text(data.data[a].kategori_user_id));
                        }
                    } else {
                        $('#login').text('Login')
                        $('#login').prop('disabled', false)
                        alert('Invalid username or password')
                    }
                },
                error: function (error) {
                    $('#login').text('Login')
                    $('#login').prop('disabled', false)
                    alert('Invalid username or password')
                }
            })
        }

        function pilihKategoriUser() {
            var kategori_user_id = $("#kategori_user_id").val();
            $('#login').text('Loading...');

            var cekKategoriUserUrl = '@Url.Action("CekKategoriUser", "Login")';
            var baseRedirectUrl = '@Url.Action("FunctionPlaceholder", "ControllerPlaceholder")';

            $.ajax({
                type: "GET",
                url: cekKategoriUserUrl + '?kategori_user_id=' + encodeURIComponent(kategori_user_id),
                success: function (data) {
                    if (data.status) {
                        var link = baseRedirectUrl.replace("ControllerPlaceholder", data.data.login_controller)
                            .replace("FunctionPlaceholder", data.data.login_function);
                        location.href = link;
                    } else {
                        alert(data.remarks);
                        $('#login').text('Login');
                    }
                },
                error: function (xhr, status, error) {
                    alert('Terjadi kesalahan saat memproses permintaan Anda. Silakan coba lagi.');
                    $('#login').text('Login');
                }
            });
        }

    </script>

</body>
</html>